@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none; /* gray-200 */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151; /* gray-700 */
}